@using System.Web.Mvc.Html
@using Umbraco.Web
@using UmbracoShipTac.Models
@using UmbracoShipTac.Controllers.SurfaceControllers

@using ClientDependency.Core.Mvc

@model ForgottenPasswordViewModel

@{
    Html.RequiresJs("/umbraco_client/ui/jquery.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.min.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js");
    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);
}

@using (Html.BeginUmbracoForm<AuthSurfaceController>("HandleForgottenPassword", null, new { @class = "form-inline" }))
{
    @Html.AntiForgeryToken()

   
    <fieldset>
        @Html.ValidationSummary("ForgottenPasswordViewModel", true)

        <div class="form-group">
            @Html.LabelFor(model => model.EmailAddress, new { @class = "control-label" })


                @Html.EditorFor(model => model.EmailAddress, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EmailAddress)

        </div>

            <input type="submit" class="btn blue-line md" value="Submit" />

    </fieldset>
}